* {
  box-sizing: border-box;
}

/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, sass/index.sass */
header, section {
  display: block;
}

/* line 19, sass/index.sass */
a {
  text-decoration: none;
  color: #1e339c;
}
/* line 4, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}
/* line 22, sass/index.sass */
a:visited {
  color: #1e339c;
}

/* line 26, sass/index.sass */
header .name {
  padding-left: 8px;
  font-size: 28px;
}

/* line 12, sass/index.sass */
body {
  color: black;
  background: white;
  font-family: 'Scada', 'Libre Baskerville', "Helvetica", arial, serif;
  height: 100%;
  line-height: 22px;
  background-image: gradient(linear, 0% 0%, 100% 0%, color-stop(0%, rgba(255, 184, 115, 0.5)), color-stop(60%, rgba(255, 184, 115, 0.4)), color-stop(100%, rgba(255,255,255,0.35)));
}

.pad {
  position: relative;
  color: #131618;
  background-color: rgb(235, 255, 255);
  background-color: rgba(235, 255, 255, 1.8);
  padding: 12px;
  margin: 10px auto;
  width: 800px;
  border: 1px solid rgba(155, 155, 155, 0.4);
  border-radius: 4px;
  box-shadow: rgb(200, 200, 200) 2px 3px 0;
  box-shadow: rgba(200, 200, 200, 0.2) 2px 3px 0;
}

/* line 59, sass/index.sass */
section.main {
  overflow: hidden;
  display: block;
  position: relative;
  padding: 1em;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
section.main {
  display: block;
}
/* line 62, sass/index.sass */
section.main section.description {
  width: 552px;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
section.main section.description {
  display: block;
}
/* line 67, sass/index.sass */
.social {
  clear: both;
  position: absolute;
  top: 0px;
  right: 1em;
  height: 57px;
  margin-top: 5px;
}
/* line 73, sass/index.sass */
.social ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  padding: 5px;
  border: 1px solid rgba(200,200,200,0.3);
  background-color: rgba(200,200,200,0.3);;
  border-radius: 4px;
  display: inline-block !important;
  margin-top: 5px;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.social ul {
  display: block;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.social ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 41, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.social ul li:first-child, .social ul .first {
  padding-left: 0;
}
/* line 43, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.social ul li:last-child, .social ul .last {
  padding-right: 0;
}
/* line 81, sass/index.sass */
.social ul li {
  height: 20px;
}
/* line 83, sass/index.sass */
.social ul li img {
  border: 1px solid #b8e2e4;
}
/* line 85, sass/index.sass */
section.main section.description p {
  margin: 10px 0px;
  font-size: 16px;
  line-height: 18px;
}
/* line 87, sass/index.sass */
section.main section.description p:first-child {
  padding-top: 5px;
}
/* line 89, sass/index.sass */
section.main .headshot_box img {
  float: left;
  border-radius: 4px;
  border: 4px solid rgba(200,200,200,0.6);
}
section.main .headshot_box {
  float: left;
  margin-right: 1em;
}

body {
  line-height: 1.3em;
}

h2 {
  display: inline-block;
  margin-bottom: 1rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #AAA;
  font-size: 1.4rem;
}

section.recent-works {
  margin: 0 1rem;
}

section.recent-works p {
  margin: 1rem 0;
}

section.recent-works h3 {
  font-size: 1.2rem;
}

section.recent-works h3:before {
  content: "> ";
}

.logo_row {
  margin: 1rem 0;
}
.crafty {
  margin-left: 10px;
  margin-bottom: 30px;
}